.f-top{
    min-height: 400px;
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;
    color: whitesmoke;
    padding: 30px 0;
    position: relative;

    ul{
        margin-right: 20px;
        margin-bottom: 20px;
        
        li{
            padding: 5px 0;
        }
    }
}
.list{
    display: flex;
}
.text-blue{
    color: #0282F9;
}

.logo{
    position: absolute;
    top: 5px;
    right: 0;
}
.w-80{
    width: 80%;
}