.f-bottom{
    background-color: #303030;
    padding: 50px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.btn{
    border: 2px solid #0282F9;
    padding: 10px 15px;
    color: whitesmoke;
}

.social{
    display: flex;
    align-items: center;
}

.m-5{
    margin: 0 5px;
}