* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

.bg-blue {
  background-color: #0282f9;
}

.h-top {
  color: white;
  display: flex;
  justify-content: end;
  padding: 10px 0;
}

h6 {
  padding: 0 10px;
}

.nav {
  display: flex;
}

li {
  list-style-type: none;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #414040;
}

.h-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.jumbo {
  height: 400px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.f-top {
  min-height: 400px;
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  color: whitesmoke;
  padding: 30px 0;
  position: relative;
}
.f-top ul {
  margin-right: 20px;
  margin-bottom: 20px;
}
.f-top ul li {
  padding: 5px 0;
}

.list {
  display: flex;
}

.text-blue {
  color: #0282F9;
}

.logo {
  position: absolute;
  top: 5px;
  right: 0;
}

.w-80 {
  width: 80%;
}

.f-bottom {
  background-color: #303030;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border: 2px solid #0282F9;
  padding: 10px 15px;
  color: whitesmoke;
}

.social {
  display: flex;
  align-items: center;
}

.m-5 {
  margin: 0 5px;
}